body {
    background-color: #1B1B1B;
  }
  
  #text {
    background-color: #1B1B1B;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #1B1B1B;
    padding: 5px;
    color: #1B1B1B;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #1B1B1B;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #1B1B1B;
    background-color: #D4AF37;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #D4AF37;
  }